<div class="row">
  <div class="col-12 col-sm-6">
    <router-outlet></router-outlet>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6">
    <div class="list-group">
      <a *ngFor="let ingredient of ingredients"
         class="list-group-item list-group-item-action d-flex justify-content-between"
         [routerLink]="[ingredient.name]"
         routerLinkActive="active">
        {{ingredient.name}}
        <div>
          <span class="badge badge-primary badge-pill"
                routerLinkActive="badge-light">{{ingredient.amount}}</span>
        </div>
      </a>
    </div>
  </div>
</div>
