<div class="row">
  <div class="col-12 col-sm-6">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6">
    <ul class="list-group">
      <li *ngFor="let ingredient of ingredients; let i=index"
          class="list-group-item list-group-item-action d-flex justify-content-between"
          [ngClass]="{'active': i===selectedIndex}"
          (click)="onSelect(i)">
        {{ingredient.name | titlecase}}
        <div>
          <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
